

body {
  background-color: #4c4c4c;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #bfbfbf;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #bfbfbf;
}

h1 {
	font-size: 40px;
    color: #bfbfbf;
}

h3 {
	color: #bfbfbf;
	font-weight: 400;
}

h4 {
	color: #bfbfbf;
	font-weight: 400;
	font-size: 30px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 18px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #bfbfbf;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #79cbef;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar-default {
	background-color: #4c4c4c;
	border-color: transparent;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

/* Helpers */

.mt {
	margin-top: 5%;
	margin-bottom: 6%;
}

.form-control {
	height: 42px;
	font-size: 18px;
	width: 280px;
}

i {
	margin: 8px;
	color: #3498db; 
}


/* HeaderWrap */
#headerwrap {
	/* background: url(../img/bg01.jpg) no-repeat center top; */
/*	background-color: #4c4c4c;*/
	margin-top: -10px;
	background-attachment: relative;
	background-position: center center;
	min-height: 0px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 60px;
	margin-bottom: 15px;
	color: #bfbfbf;
	font-size: 45px;
	font-weight: 300;
	letter-spacing: 1px;
}
